@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100%;
  height: 100%;
  overflow: auto !important;
  background-color: rgb(32, 30, 30);
  position: relative;
}

/* Empêche le contenu d'être caché derrière le fond */
body > div {
  position: relative;
  z-index: 10;
}

/* Cache la scrollbar */
::-webkit-scrollbar {
  display: none;
}
