@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
.background-const {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.dummy-div {
    position: relative;
    height: 2px;
    width: 100%;
}

.parallax-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .images-container {
        height: 101vh;
        overflow: hidden;
        .background-1 {
            background: url("/images/background1.webp");
            transform: scale(1.4);
            transition: transform 1.5s ease;
            @extend .background-const;
            &.scale {
                transform: scale(1);
            }
        }
        .background-2 {
            background: url("/images/background2.webp");
            transition: transform 1.5s ease;
            @extend .background-const;
            &.scale {
                transform: scale(1.4);
            }
        }
        .background-3 {
            background: url("/images/background3.webp");
            transition: transform 1.5s ease;
            z-index: 1;
            @extend .background-const;
            &.scale {
                transform: scale(1.4);
            }
        }
        .text-block {
            position: absolute;
            text-align: center;
            top: 0;
            right: 0;
            height: 100vh;
            margin-top: 150px;
            padding-right: 100px;
            transform: translate(0, 100%);
            transition: transform 1.5s ease;
            &.flow-right {
                transform: translate(100%, 0);
            }
            p {
                color: white;
                margin-bottom: 0;
                &.main {
                    font-size: 6vw;
                    font-family: "Poppins", sans-serif;
                    line-height: 1.5;
                }
                &.sub {
                    font-size: 4.5vw;
                    font-family: "Poppins", sans-serif;
                    line-height: 1.5;
                }
            }
            &.scale {
                transform: translate(0, 0);
            }
        }
    }
}
