<!DOCTYPE html>
<html lang="fr">
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="{{ '/assets/css/404.css' }}">
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    </head>
    <body>
        <div class="header">
            <div class="site-avatar">
                <img src="{{ '/assets/img/profile.webp' }}" alt="Logo" class="logo">
            </div>
            <a href="/" class="menu-button">Menu</a>
        </div>
        <div class="color-bars">
            <div class="color-bar"></div>
            <div class="color-bar"></div>
            <div class="color-bar"></div>
            <div class="color-bar"></div>
            <div class="color-bar"></div>
            <div class="color-bar"></div>
            <div class="color-bar"></div>
            <div class="color-bar"></div>
        </div>
        <div class="centered-message">
            <h1>OOPS NO SIGNAL</h1>
        </div>
        <div class="footer">
            <div class="footer-content">
                <span class="footer-text">404</span>
                <span class="footer-link">
                    Désolé, nous avons pas trouvé cette page. <a href="/">Retour à l'accueil</a>
                </span>
                <span class="footer-timer">00:05</span>
            </div>
        </div>
    </body>
    <script src="{{ '/assets/js/404.js' }}"></script>
</html>
