name: Update TLE every 6 hours

on:
  schedule:
    - cron: '0 0,12 * * *'    # run at midnight and noon
  workflow_dispatch: 

permissions:
  contents: write

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Run updateTLE script
        run: node scripts/updateTLE.js

      - name: Commit changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add data/satellites.json public/tle-last-update.json
          git diff --quiet && git commit -m "Update TLE" && git push || true
