name: Update Transmitters weekly

on:
  schedule:
    - cron: '0 0 * * 0' # Exécution tous les dimanches à minuit
  workflow_dispatch: # Permet l'exécution manuelle

permissions:
  contents: write

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Run updateTransmitters script
        run: node scripts/updateTransmitters.js

      - name: Commit changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add data/satellites.json public/transponders-last-update.json
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update transmitters data" && git push)
